<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <title><%= htmlWebpackPlugin.options.title %></title>
</head>
<body>
    <main>
        <header>
            <h1>All invoices - 2016</h1>
            <a href="#" class="dots">
                <div class="dot"></div>
            </a>
        </header>
        <table>
            <caption>Invoices</caption>
            <thead>
            <tr>
                <th>Type</th>
                <th>Account Name</th>
                <th>Status</th>
                <th>Currency</th>
                <th>Balance</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>1</td>
                <td>2</td>
                <td>3</td>
                <td>4</td>
                <td>5</td>
            </tr>
            </tbody>
            <tfoot>
            <tr>
                <td>f1</td>
                <td>f2</td>
                <td>f3</td>
                <td>f4</td>
                <td>f5</td>
            </tr>
            </tfoot>
        </table>
    </main>

</body>
</html>
