<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width">
  <title><%= htmlWebpackPlugin.options.title %></title>
  <link href="assets/font-awesome/css/font-awesome.min.css" rel="stylesheet"/>
  <link href="https://fonts.googleapis.com/css?family=Roboto:400,900" rel="stylesheet">
</head>
<body>
  <div class="container">
    <div class="row">
      <div class="one-half column overview">
        <header>
          <h1>All invoices - 2016</h1>
          <a href="#">
            <i class="fa fa-ellipsis-h" aria-hidden="true"></i>
          </a>
        </header>
        <main>
          <table>
            <caption>Invoices</caption>
              <thead>
                <tr class="tr-head">
                  <th><a>Type <i class="fa fa-caret-down" aria-hidden="true"></i></a></th>
                  <th><a>Account Name <i class="fa fa-caret-down" aria-hidden="true"></i></a></th>
                  <th><a>Status <i class="fa fa-caret-down" aria-hidden="true"></i></a></th>
                  <th><a>Currency <i class="fa fa-caret-down" aria-hidden="true"></i></a></th>
                  <th><a>Balance <i class="fa fa-caret-down" aria-hidden="true"></i></a></th>
                </tr>
              </thead>
              <tbody id="invoice-table">
                <!-- Table content rendered by index.js -->
              </tbody>
            </table>
          </main>
        </div>
        <div class="one-half column detail-view">
          <header>
            <button id="menu-button" class="button"><i class="fa fa-bars" aria-hidden="true"></i></button>
            <div class="hidde-overflow">
              <nav id="nav">
                <ul>
                  <li><a>Profile</a></li>
                  <li><a>Annual report</a></li>
                  <li><a>Log out</a></li>
                </ul>
              </nav>
            </div>
          </header>
          <main id="detail-container">
            <!--Content rendered by index.js-->
          </main>
        </div>
      </div>
  </div>
</body>
</html>
