@import "mixin";

@keyframes appear {
    from {
      opacity: 0;
      margin-top: 3em;
    }
    to {
      margin-top: 0;
      opacity: 1;
    }
}

@keyframes away {
  from {
    opacity: 1;
    margin-top: 0;
  }
  to {
    opacity: 0;
    margin-top: 5em;
  }
}

@keyframes hardBounce {
    0% {
        opacity: 0;
        transform: scale(.8);
    }
    75% {
        transform: scale(1.2);
        box-shadow: 0 0 50px #666;
    }

    90% {
        transform: scale(.9);
        box-shadow: 0 0 10px #000;
    }

    95% {
        transform: scale(1.1);
        box-shadow: 0 0 40px #999;
    }

    100% {
        opacity: 1;
        transform: scale(1);
        @include shadow;
    }
}
