@keyframes appear {
    from {
      opacity: 0;
      margin-top: 3em;
    }
    to {
      margin-top: 0;
      opacity: 1;
    }
}

@keyframes disappear {
  from {
    opacity: 1;
    margin-top: 0;
  }
  to {
    opacity: 0;
    margin-top: 5em;
  }
}

@keyframes lift {
  0% { transform: rotateY(0deg); }
  10% { transform: rotateY(45deg); }
  90% { transform: rotateY(45deg); }
  100% { transform: rotateY(0deg); }
}
