/* Filter button */
.dot {
    width: 6px;
    height: 6px;
    border-radius: 6px;
    background-color: dodgerblue;
    position: absolute;

    &:before,
    &:after {
        width: 6px;
        height: 6px;
        border-radius: 6px;
        background-color: dodgerblue;
        position: absolute;
        content: "";
    }

    &:before {
        left: 8px;
    }

    &:after {
        right: 8px;
    }
}

/* Table */
table {
    width: 100%;
    border-collapse: collapse;
    border: 1px solid #999;
    border-top: none;
    text-align: left;
    padding: 10px;


    caption {
        border: inherit;
        text-align: inherit;
    }

    thead,
    tfoot {
        border: inherit;
    }

    tr {
    }

    td {
        width: 20%;
    }
}
