@import "base/colors";
@import "base/mixin";

.overview {
    background-color: $background-color;
    @include shadow;
    overflow: auto;

    header {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}


